---
layout: page
title: "David Fu's blog"
description: "无责任记录，珍爱生命，远离电脑"
header-img: post-bg-05.jpg
---

{% for post in paginator.posts %}
<div class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div>
      <span class="title">
        {{ post.title }}
      </span>
      <span class="date">
        <i class="fa fa-calendar"></i> {{ post.date | date: "%B %-d, %Y" }}
      </span>
    </div>
  </a>
</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
