body {
  font-family: 'sofia-pro-light', 'SourceSansPro-Regular', 'Times New Roman', serif;
  font-size: 20px;
  color: #404040;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

a {
  color: #404040;
  &:hover, &:focus {
    color: #0085a1;
  }
  img {
    &:hover, &:focus {
      cursor: zoom-in;
    }
  }
}

blockquote {
  color: #808080;
  font-style: italic;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.navbar-custom {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  .navbar-brand {
    font-weight: 800;
  }
  .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
  input, textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
  }
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085a1;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  &:hover, &:focus {
    background-color: #0085a1;
    border: 1px solid #0085a1;
    color: white;
  }
}

.pager {
  margin: 20px 0 0;
  li > {
    a, span {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 10px 5px;
      background-color: white;
      border-radius: 0;
    }
    a {
      &:hover, &:focus {
        color: white;
        background-color: #0085a1;
        border: 1px solid #0085a1;
      }
    }
  }
  .disabled > {
    a {
      color: #808080;
      background-color: #404040;
      cursor: not-allowed;
      &:hover, &:focus {
        color: #808080;
        background-color: #404040;
        cursor: not-allowed;
      }
    }
    span {
      color: #808080;
      background-color: #404040;
      cursor: not-allowed;
    }
  }
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}


/* responsive here */

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -61px;
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid #f2f2f2;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      .navbar-brand {
        color: #404040;
        &:hover, &:focus {
          color: white;
        }
      }
      .nav li a {
        color: #404040;
        &:hover, &:focus {
          color: white;
        }
      }
    }
    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}

/* responsive end */
