.blog-content {
  width: 60%;
  margin: 0 auto;
}

.intro-header {
  height: 250px;
  margin-bottom: 0px;
}

.post-preview {
  a > div {
    margin: 10px 0;
    padding: 10px;
    &:hover {
      background-color: #ddd;
      opacity: .8;
      box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
    }

    .title {
      font-size: 1.2em;
      font-weight: 300;
      font-weight: lighter;
    }

    .date {
      float: right;
      font-size: 0.9em;
      color: #808080;
      font-style: italic;
      opacity: 0.8;
      padding-top: 0.2em;
    }
  }
}

footer {
  padding: 20px 0 40px;
}

// custom resposive

@media only screen and (min-device-width: 768px) {

  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
    .navbar-brand, .nav li a {
      color: white;
      margin: 10px;
      padding: 10px;
      height: auto;
      &:hover, &:focus {
        background-color: #337ab7;
        color: white;
        transition-duration: .2s;
      }
    }
  }

  .intro-header {
    .site-heading, .post-heading, .page-heading {
      padding: 3.5em 0;
    }

    .site-heading h1, .page-heading h1 {
      font-size: 2em;
    }
  }

  .pager li > {
    a, span {
      font-size: 14px;
      padding: 15px 25px;
    }
  }
}

// Pads and larger phones
@media only screen and (max-width: 668px) {
  .blog-content {
    width: 90%;
    margin: 0 auto;
  }
}
