.blog-content {
  width: 60%;
  margin: 0 auto;
}

.intro-header {
  height: 250px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1, .intro-header .page-heading h1 {
    font-size: 46px;
  }

  .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 90px 0 0;
  }
}



.post-preview .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}


.post-preview {
  a > div {
    margin: 10px 0;
    padding: 10px;
    &:hover {
      background-color: #eee;
      opacity: .5;
    }

    .title {
      font-size: 1.2em;
      font-weight: 300;
      font-weight: lighter;
    }

    .date {
      float: right;
      font-size: 0.9em;
      color: rgba(0,0,0,0.8);
      padding-top: 0.1em;
    }
  }
}

footer {
  padding: 20px 0 40px;
}
