.blog-content {
  width: 60%;
  margin: 0 auto;
}

.post-preview .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}

.intro-header {
  height: 250px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1, .intro-header .page-heading h1 {
    font-size: 46px;
  }

  .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 90px 0 0;
  }

  .post-preview > a > .post-title {
    font-size: 24px;
    font-weight: 300;
  }
}
